.items{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(pexels-pixabay-279614.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container{
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo a{
text-decoration: none;
color: black;
font-size: 16px;
font-weight: 600;
letter-spacing: 2px;
text-transform: uppercase;
width: 100%;
}
.logo{
    background-color: beige;
    padding: 5px 5px 5px 5px;
}
.items{
    display: flex;
}
.items li{
    padding-right: 20px;
}
.items li a{
    text-decoration: none;
    color: cadetblue;
    font-size: 16px;
}
.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
h1{
    color: white;
    font-size: 4em;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-weight: 500;
}
h6{
    color: black;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: beige;
    margin-left: 47%;
    margin-right: 47%;
    margin-top: -2%;
}